@charset "utf-8";
/*====================base start==================*/
html{font-size:16px; scroll-behavior: smooth;}
body{ position: relative; overflow: hidden; font-family: 'Noto Sans', sans-serif; background-color: #000;}
span{display: block;}
.section{position: relative; overflow: hidden; scroll-snap-align:center; transition: 0.5s; width: 100%; height: 100%;}
/*====================base end==================*/

/*====================index.html start==================*/
#startPage{width: 100%; height: 100vh;}
#startPage ul{width: 100%; height: 100%;}
#startPage ul li{position: relative; width: 50%; height: 100%; float: left; overflow: hidden;  cursor: pointer;}
.startPage_back{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image:url(../images/startpage_back.png); background-size: cover;background-repeat: no-repeat; background-position: center; transition: 0.5s;}
.startPage_left{width:100%; height: 100%;}
.startPage_right{width: 100%; height: 100%;}
.hover_line_box{opacity: 0; position:absolute; top: 0; left: 0; width: 100%; height: 100%;}
.hover_line_box img{width: 100%; height: 100%;}
.startPage_left:hover .hover_line_box,
.startPage_right:hover .hover_line_box{opacity: 1;}
.startPage_left:hover .content_text_box,
.startPage_right:hover .content_text_box{opacity: 1;}
.startPage_logo_text_box{position: absolute; top:0px; left: 50%; transform: translate(-50%,0); padding-top: 50px; width: 80%; height: 500px; transition: 0.4s;}
.startPage_logo_text_box img{width: 100%;}
.content_text_box{text-align: center; position: absolute; padding-top: 400px; top:0px; left: 50%; transform: translate(-50%,0); width: 80%; opacity: 0; transition: 0.4s;}
.content_text_box p{position: relative; font-size: 1em; color: #fff; text-shadow: 5px 2px 5px #000;}
.mobile_text p:after,
.content_text_box p:after{content: ""; width:490px; height:40px; display: block; background: url(../images/text_top_after.png); background-size: cover; background-repeat: no-repeat; background-position: center; position: absolute; transition: 0.4s; top:-40px; left:50.8%; transform:translate(-50%,0);}
.mobile_text p:after{width:330px; height:27px; top:-27px;}
.mobile_text p:before,
.content_text_box p:before{ content: ""; width:320px; height:27px; display: block; background: url(../images/text_bottom_before.png); background-size: cover; background-repeat: no-repeat; background-position: center; position: absolute; transition: 0.4s; bottom:-32px; left:50%; transform:translate(-50%,0);}
.mobile_text p:before{width:250px; height:28px; bottom:-27px;}
.click_text_box{ opacity:1; position: absolute; bottom: 70px; text-align: center; width: 100%; transition: 0.4s;}
.click_text_box p{ display: inline-block; font-size: 4em; color: #fff; text-shadow: 5px 5px 10px #000; position: relative;}
.click_text_box p:after{animation-name: startLeftBtn; animation-duration: 0.5s; animation-timing-function: ease-in; animation-iteration-count: infinite; animation-direction:  alternate; content: ""; width: 70px; height: 65px; display: block; background: url(../images/left_hover.png); background-size: cover; background-repeat: no-repeat; position: absolute; transition: 0.4s; top:13px; left: -85px;}
.click_text_box p:before{animation-name: rightLeftBtn; animation-duration: 0.5s; animation-timing-function: ease-in; animation-iteration-count: infinite; animation-direction:  alternate; content: ""; width: 70px; height: 65px; display: block; background: url(../images/right_hover.png); background-size: cover; background-repeat: no-repeat; position: absolute; transition: 0.4s; top:14px; left:190px;}
@keyframes startLeftBtn{ to{left: -90px;} } @keyframes rightLeftBtn{ to{left: 195px;} }
.mobile_text{opacity: 0; width:84%; text-align: center; margin: auto; margin-top: 70px; transition: 0.4s;}
.mobile_text p{font-size: 1em; color: #fff; text-shadow: 0px 5px 20px #000; position: relative;}
.mobile_logo{opacity: 0; width: 80%; margin: 0 auto; padding-top: 50px; transition: 0.4s;}
.mobile_logo img{width: 100%;}
@media screen and (min-width: 1800px){ 
    .content_text_box{padding-top: 500px;}
}
@media screen and (max-height: 650px){ 
    .content_text_box{display: none;}
}
/*====================index.html end==================*/

/*======================hollow.html start====================*/
/*=========loading start=========*/
.lodingBoxWrap{opacity: 1; position: fixed; animation-name: loadWrap; animation-delay: 3.8s; animation-duration: 1s; animation-timing-function: ease-in; animation-fill-mode: forwards; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; z-index: 10000; display: table; }
.loadingBox{display: table-cell; vertical-align: middle; }
.load_image{width:50%; margin:0 auto;}
.load_image img{width: 100%;}
.load_text{position: relative; width: 35%; margin:0 auto; text-align: center;}
.load_text span{padding: 0 2px; transform: translateY(20px); animation-name: loadtext; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: infinite; animation-direction: alternate; display: inline-block; font-size: 2.6em; color: #fff; font-weight: bold;}
.load_text span:nth-child(1){animation-delay: 0s;}
.load_text span:nth-child(2){animation-delay: 0.15s;}
.load_text span:nth-child(3){animation-delay: 0.3s;}
.load_text span:nth-child(4){animation-delay: 0.45s;}
.load_text span:nth-child(5){animation-delay: 0.6s;}
.load_text span:nth-child(6){animation-delay: 0.75s;}
.load_text span:nth-child(7){animation-delay: 0.9s;}
.load_text span:nth-child(8){animation-delay: 1.05s;}
.load_text span:nth-child(9){animation-delay: 1.30s;}
.load_text span:nth-child(10){animation-delay: 1.45s;}
@keyframes loadtext{ 60%{transform: translateY(20px);} to{transform: translateY(0px);} }
@keyframes loadWrap{ to{opacity: 0;} }
/*=========loading end=========*/

/*========video start=========*/
.main_video_Box{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -2;}
.main_video_Box video{width: 100%; height: 100%;}
.action.black .main_video_Box{display: none;}
.main_video_Box.no{display: none;}
/*========video end=========*/

/*====================fixed start====================*/
/*=========line box start=========*/
.fixedWrap{ width: 100%; height: 100%; overflow: hidden;}
.fixed_lineBox{ width: 100%; height: 100%; position: fixed; transition: all 0.8s; text-align: center; bottom: 0; display: block;}
.fixed_lineBox img{width: 100%; height:100%; min-height:550px;}
.action.black .fixed_lineBox{height: 92%;}
/*=========line box end=========*/

/*=========nav start=========*/
.navbarWrap{position: fixed; top: 0; left: 20px; z-index:1000;}
.nav_imagesBox{position: relative; width: 300px; display: none;}
.nav_imagesBox.on{display: block;}
.nav_imagesBox img{width: 100%;}
.navbarSpanWrap{position: fixed; top: 22px; left: 50px; z-index: 999;}
.navbarSpanWrap span:after{content: ""; display: block; position: absolute; top: -29px; left: -12px; width: 45px; height: 60px; background: url(../images/navF.gif); background-repeat: no-repeat; background-size: cover; background-position: center;}
.navbarSpanBox{ position: relative; width: 300px; height: 80px;}
.navbarSpanBox span{ position: absolute; top: 0;  border-radius: 50%; display: inline-block; display: none;}
.navbarSpanBox span.on{display: block;}
.navbarBtnWrap{ position: fixed; top: 22px; left: 50px; width: 100%; z-index: 9997;}
.navbarBtnBox{position: relative; width: 300px;}
.navbarBtnBox a{ top: 0; left: 0; width: 23px; height: 30px;  border-radius: 50%; display: block; position: absolute; z-index: 998;}
.navbarBtnBox a:hover:after,
.navbarBtnBox a:after{content: ""; display: block; position: absolute; font-size: 1.7em; color: #fff; top: 35px; left: -120px; font-weight: bold; transition: .8s; opacity: 0;}
.navbarBtnBox a.on:after{opacity: 1;left:0px;}
.navbarBtnBox a.on:nth-child(1):hover:after{color: fuchsia;}
.navbarBtnBox a.on:nth-child(2):hover:after{color: greenyellow;}
.navbarBtnBox a.on:nth-child(3):hover:after{color: red;}
.navbarBtnBox a.on:nth-child(4):hover:after{color: orange;}
.navbarBtnBox a.on:nth-child(5):hover:after{color: cyan;}
.navbarBtnBox a.on:nth-child(6):hover:after{color: gold;}
.navbarBtnBox a.on:nth-child(1):after{content: "STORY";}
.navbarBtnBox a.on:nth-child(2):after{content: "CHARACTER"; left:-46px;}
.navbarBtnBox a.on:nth-child(3):after{content: "CONTENT";left:-86px;}
.navbarBtnBox a.on:nth-child(4):after{content: "NEWS";left:-130px;}
.navbarBtnBox a.on:nth-child(5):after{content: "FOOTER";left:-170px;}
.navbarBtnBox a.on:nth-child(6):after{content: "HOME";left:98px;}
.navbarBtnBox a:nth-child(1),
.navbarSpanBox span:nth-child(1){left: 77px;}
.navbarBtnBox a:nth-child(2),
.navbarSpanBox span:nth-child(2){left: 120px;}
.navbarBtnBox a:nth-child(3),
.navbarSpanBox span:nth-child(3){left: 162px;}
.navbarBtnBox a:nth-child(4),
.navbarSpanBox span:nth-child(4){left: 205px;}
.navbarBtnBox a:nth-child(5),
.navbarSpanBox span:nth-child(5){left: 248px;}
.navbarSpanBox span:nth-child(5):before{content: ""; display: block; position: absolute; top: -45px; left: -310px; width: 140px; height:133px; background: url(../images/navFire.gif); background-repeat: no-repeat; background-size: cover; background-position: center;}
.navbarBtnBox a:nth-child(6),
.navbarSpanBox span:nth-child(6){left:-22px; width: 80px; height: 80px;}
/*=========nav end=========*/

/*========guide start=========*/
.trailer_playBtn{ text-align: center; width: 80px; position: fixed; bottom: 40px; right: 40px; z-index: 9998;}
.action.black .trailer_playBtn{ display: none;}
.trailer_playBtn a{ font-size: 2em; color: #fff;}
.trailer_playBtn img{ width: 100%; cursor: pointer;}
.guide_textWrap{ position: fixed; width: 100%; height: 100%; font-size: 1.8em; color: #fff;}
.guide_ost{ position: absolute; bottom: 65px; left: 160px;}
.guide_ost p:after,
.guide_ost p:before{ animation-name:ost; animation-duration: 0.7s; animation-timing-function: ease; animation-iteration-count: infinite; animation-direction: alternate; content: ""; position: absolute; top: 7px; left: -20px; display: block; width: 15px; height: 30px; background: url(../images/guide_left.png); background-repeat: no-repeat; background-size: cover; background-position: center;}
.guide_ost p:before{ animation-delay: 0.1s; left: -30px;}
.action.black .guide_trailer,
.action.black .guide_ost{display: none;}
.guide_trailer{ position: absolute; bottom: 65px; right: 160px;}
.guide_trailer p{position: relative;}
.guide_trailer p:after,
.guide_trailer p:before{ animation-name:trailer; animation-duration: 0.7s; animation-timing-function: ease; animation-iteration-count: infinite; animation-direction: alternate; content: ""; position: absolute; top: 7px; right: -20px; display: block; width: 15px; height: 30px; background: url(../images/guide_right.png); background-repeat: no-repeat; background-size: cover; background-position: center;}
.guide_trailer p:before{ animation-delay: 0.1s; right: -30px;}
@keyframes ost{ to{transform:translateX(-30%);} }
@keyframes trailer{ to{transform:translateX(30%);} }
/*========guide end=========*/

/*========sound music start=========*/
.ostMusic_Wrap{ width: 400px; height: 100%; position: fixed; z-index: 9999; left: -406px; background-color: #0b0b0b; z-index:8888; display: flex; flex-direction: column; justify-content: center; align-items: center; border-right:6px solid #585858; transition: 1s;}
.ostMusic_Wrap.active{left: 0;}
.sound_fiexdIcon{cursor:pointer;}
.sound_lp{ position: absolute; right: -120px; bottom: 50px; width: 70px; height: 70px;    background: url(../images/lp.png); background-size: cover; background-repeat: no-repeat; background-position: center;}
.sound_fiexdIcon:hover .sound_lp,
body.audio-on .sound_lp{animation-name: soundBtn;animation-duration: 2s;animation-timing-function: linear;animation-iteration-count: infinite;}
.sound_note{ width: 25px; height: 25px; position: absolute; right: -65px; bottom: 90px; background-image: url(../images/note.png); background-repeat: no-repeat; background-position: center; background-size: cover; transform: rotate(15deg);}
.sound_fiexdIcon:hover .sound_note,
body.audio-on .sound_note{animation-name: soundnote;animation-duration: 2s;animation-timing-function: linear;animation-iteration-count: infinite;animation-direction: alternate;}
.sound_lpBar{ width: 20px; height: 60px; position: absolute; right: -120px; bottom: 70px; background-image: url(../images/lp_stroke.png); background-repeat: no-repeat; background-position: center; background-size: cover;}
.sound_fiexdIcon:hover .sound_lpBar:after,
.sound_fiexdIcon:hover .sound_lpBar:before,
body.audio-on .sound_lpBar:after,
body.audio-on .sound_lpBar:before{display: none;}
.sound_lpBar:after{ position: absolute; content: ""; display: block; top: 5px; left: -47px; width: 3px; height: 40px; background-color: red; transform: rotate(45deg);}
.sound_lpBar:before{ position: absolute; content: ""; display: block; top: 5px; left: -47px; width: 3px; height: 40px; background-color: red; transform: rotate(135deg);}
.ostMusic_topTxt{ width: 300px; height: 90px; color: #fff; text-align: center; position: relative;}
.ostMusic_topTxt:after{ content: ""; display: block; position: absolute; bottom: 70px; transform: translateX(-50%); left: 50%; width: 200px; height: 200px; background: url(../images/Hollow-Knight-Piano-Collections.png); background-repeat: no-repeat; background-size: cover; background-position: center; z-index: -1;}
.ostMusic_topTxt h3{font-size: 1.8em;}
.ostMusic_topTxt p{font-size: 1.4em;}
.sound_CDBox{ width: 337px; height: 320px; display: flex; justify-content: center; align-items: center; background: url(../images/pointer_img.png); background-size: cover; background-repeat: no-repeat; background-position: center;}
.sound_CDBox ul{width: 100%;height: 270px;position: relative;overflow: hidden;}
.sound_CDBox ul li{ text-align: center; position: absolute; left: 450px; width: 100%; height: 100%; transition:1s;}
.sound_CDBox ul li.active{left: 0px;}
.sound_CDBox ul li img{ width: 270px; cursor: pointer; transition: 1s; transform: rotate(360deg);}
.sound_CDBox ul li.active img{transform: rotate(0deg);}
body.audio-on .sound_CDBox ul li.active img{animation-name: PlayingCD;animation-duration:3s;animation-timing-function: linear;animation-iteration-count: infinite;}
.music_sliderBtnbox{width: 300px;height: 50px;position: relative;}
.music_sliderBtnbox ul{ overflow: hidden; width: 300px; height: 50px; position: relative;}
.music_sliderBtnbox ul li.active{left: 0;}
.music_sliderBtnbox ul li{ transition: 1s; position: absolute; left: 350px; height: 100%; width: 300px; text-align: center; line-height: 50px;}
.music_sliderBtnbox p{ font-size: 1.6em; color: #fff; font-weight: bold}
.soundSlider_prevBtn{ position: absolute; top: 0; left:-20px; width: 35px; height:53px; background: url(../images/leftBtn.png); background-size: cover; cursor: pointer;}
.soundSlider_nextBtn{ position: absolute; top: 0; right:-20px; width: 35px; height:53px; background: url(../images/rightBtn.png); background-size: cover; cursor: pointer;}
.music_sliderNavBtn{ text-align: center; width: 200px; height: 30px; margin: 0 auto;}
.music_sliderNavBtn span{ display: inline-block; width: 13px; height: 13px; border-radius: 50%; background-color: #585858; margin: 0px 5px;}
.music_sliderNavBtn span.active{ width: 20px; height: 20px; background-color:#fff;}
.music_closeBtn{ margin-top: 50px; width: 300px; height: 50px; line-height: 50px; text-align: center;}
.music_closeBtn p{ transition: 0.4s; position: relative; padding: 0 10px; display: inline-block; font-size:2em; color: #fff; cursor: pointer;}
@keyframes soundBtn{ to{transform: rotate(360deg);} }
@keyframes soundnote{ to{bottom: 105px; right: -85px; transform: rotate(0deg);} }
@keyframes PlayingCD{ to{transform: rotate(360deg);} }
/*========sound music end=========*/

/*================hamberger navigation start================*/
/*=========hamberger start=========*/
.hambergerIcon{width: 70px;  height: 65px;  position:fixed;  top: 20px;  right: -200px;  cursor:pointer;  z-index: 9999 !important; transition:0.5s; background-color: #000;}
.action.black .hambergerIcon{right: 20px;}
.hambergerIcon:after{ position: absolute; content: ""; display: block; width: 130px; height: 50px; background: url("../images/text-menu.png"); background-size: cover; background-repeat: no-repeat; background-position: center; top:10px; left: -130px;}
.hambergerIcon:before{ position: absolute; content: ""; width: 130px; height: 50px; background: url("../images/text-close.png"); background-size: cover; background-repeat: no-repeat; background-position: center; top:5px; left: -130px; display: none;}
.hambergerIcon.active:before{display: block;}
.hambergerIcon.active:after{display: none;}
.hamberger{ width: 50px;  height:7px; position:absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);  background-color: #fff;  box-shadow:0px 2px 5px rgba(0,0,0,.3);  transition:0.4s;}
.hamberger:after,
.hamberger:before{ width: 50px;  height:7px;  content:''; position: absolute;  background-color: #fff;  box-shadow:0px 2px 5px rgba(0,0,0,.3);  transition: 0.4s;}
.hamberger:after{top:-17px;} .hamberger:before{top:17px;}
.hambergerIcon.active .hamberger{background-color: rgba(0,0,0,0);box-shadow:0px 0px 0px rgba(0,0,0,0);}
.hambergerIcon.active .hamberger:after{transform: rotate(45deg); top:0px;}
.hambergerIcon.active .hamberger:before{transform: rotate(135deg); top:0px;}
/*=========hamberger end=========*/

/*=========navigation start=========*/
.menuNavWrap{ position: relative; position:fixed; width: 100%; height: 100%; z-index: -99;}
.menuNavBlack{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; background-color: rgba(0,0,0,0.8); transition:all 0.6s; z-index: -99;}
.menuNavWrap.active { z-index: 9998;}
.menuNavBlack.active{ opacity: 1; z-index:998;}
.menuNavBlack span{ animation-timing-function:ease-in; animation-iteration-count: infinite; display: inline-block; position: absolute; bottom: -50px; border-radius: 50%; opacity: 1;  background-color: #fff;}
.menuNavBlack span:nth-child(1){ animation-name: bubble1; animation-duration: 1.3s; width: 20px; height: 20px; left: 10%;}
.menuNavBlack span:nth-child(2){ animation-name: bubble2; animation-duration:2s; width:35px; height:35px; left: 20%;}
.menuNavBlack span:nth-child(3){ animation-name: bubble3; animation-duration: 1.5s; width: 15px; height: 15px; left: 40%;}
.menuNavBlack span:nth-child(4){ animation-name: bubble4; animation-duration: 1.9s; width: 40px; height: 40px; left: 60%;}
.menuNavBlack span:nth-child(5){ animation-name: bubble5; animation-duration:1s; width: 15px; height: 15px; left: 75%;}
.menuNavBlack span:nth-child(6){ animation-name: bubble5; animation-duration: 2.5s; width: 35px; height: 35px; left: 85%;}
.menuHollowGost{ animation-name: hollowgost; animation-duration: 3s; animation-timing-function: cubic-bezier(0.49, 0.06, 0.6, 1.1); animation-iteration-count: infinite; animation-direction: alternate; position: absolute; width:35%; height: 700px; background: url(../images/hollow_gost.png); background-repeat: no-repeat; background-size: cover; background-position:left; left:0px; bottom:50px; transform: rotateY(180deg);}
@keyframes bubble1{ to{bottom: 50%; opacity: 0;} }
@keyframes bubble2{ to{bottom: 45%; opacity: 0;} }
@keyframes bubble3{ to{bottom: 55%; opacity: 0;} }
@keyframes bubble4{ to{bottom: 45%; opacity: 0;} }
@keyframes bubble5{ to{bottom: 45%; opacity: 0;} }
@keyframes bubble6{ to{bottom: 55%; opacity: 0;} }
@keyframes hollowgost{ 50%{bottom: 90px;} 80%{bottom: 70px;} }
.settingBox,
.menuNavBox{ position: relative; top: -800px; left: 50%; transform: translate(-50%, 0); width: 450px; height: 440px; border-radius: 100px; background:linear-gradient(-90deg, rgba(255,255,255,0.15),rgba(255,255,255,0.08),rgba(255,255,255,0.03),rgba(255,255,255,0.03),rgba(255,255,255,0.08),rgba(255,255,255,0.15)); box-shadow: 0px 30px 50px #000; z-index: 999; transition: 0.4s; border: 3px solid rgba(255,255,255,0.6);}
.settingBox{height: 520px;}
.settingBox{display: none;}
.menuNavWrap.active .settingBox,
.menuNavWrap.active .menuNavBox{ top: 50%; transform: translate(-50%, -50%);}
.settingBox:after,
.menuNavBox:after{ position: absolute; top: -168px; left: -73px; content: ""; display: block; width:600px; height: 160px; background: url(../images/menu_top.png); background-repeat: no-repeat; background-position: center; background-size: cover; z-index: 999;}
.settingBox:before,
.menuNavBox:before{ position: absolute; top: 455px; left: 25px; content: ""; display: block; width:400px; height: 70px; background: url(../images/menu_bottom.png); background-repeat: no-repeat; background-position: center; background-size: cover; z-index: 999;}
.settingBox:before{top: 535px;}
.settingBox h3{ font-size: 0.6em; color: #fff;}
.settingBox ul,
.menuNavBox ul{ width: 300px; height: 100%; margin: 0 auto; display: flex; flex-direction: column; justify-content: space-around; text-align: center; transition: 0.4s;}
.menuNavBox ul li{ height: 50px; font-size: 2em; line-height: 50px;}
.settingBox ul li{ font-size: 2em; position: relative; height: 100px; line-height: 100px;}
.menuNavBox ul li h3{font-size: 1em;}
.menuNavBox ul:hover a{opacity: 0.5;}
.settingBox ul li a,
.menuNavBox ul li a{ position: relative; color: #fff; transition: all 0.4s;}
.chCloseBtnBox a:hover,
.modal_closeBtnBox a:hover,
.music_closeBtn p:hover,
.settingBox ul li a:hover,
.menuNavBox ul li a:hover,
.menuNavBox ul li a.active{opacity: 1; text-shadow: 0 0 20px #fff;}
.chCloseBtnBox a:hover:after,
.modal_closeBtnBox a:hover:after,
.music_closeBtn p:hover:after,
.settingBox ul li a:hover:after,
.menuNavBox ul li a.active:after,
.menuNavBox ul li a:hover:after{ content: ""; display: block; width: 50px; height: 45px; background: url(../images/left_hover.png); background-size: cover; background-repeat: no-repeat; position: absolute; top: 1px; left: -70px;}
.chCloseBtnBox a:hover:before,
.modal_closeBtnBox a:hover:before,
.music_closeBtn p:hover:before,
.settingBox ul li a:hover:before,
.menuNavBox ul li a.active:before,
.menuNavBox ul li a:hover:before{ content: ""; display: block; width: 50px; height: 45px; background: url(../images/right_hover.png); background-size: cover; background-repeat: no-repeat; position: absolute; top:0px; } 
.menuNavBox ul li:nth-child(1) a:before{left: 115px;}
.menuNavBox ul li:nth-child(2) a:before{left: 185px;}
.menuNavBox ul li:nth-child(3) a:before{left: 200px;}
.menuNavBox ul li:nth-child(4) a:before{left: 165px;}
.menuNavBox ul li:nth-child(5) a:before{left: 110px;}
.menuNavBox ul li:nth-child(6) a:before{left: 140px;}
.menuNavBox ul li:nth-child(7) a:before{left: 145px;}
.menuNavBox ul li:nth-child(8) a:before{left: 117px;}
.settingBox ul li a:before{left: 100px;}
.modal_closeBtnBox a:hover:after,
.music_closeBtn p:hover:after{left: -60px;}
.modal_closeBtnBox a:hover:before{left: 108px;}
.music_closeBtn p:hover:before{left: 130px;}
.chCloseBtnBox a:hover:before{left: 100px;}
/*=========navigation end=========*/

/*=========setting start=========*/
label{ position: absolute; top: 70px; width: 200px; height: 70px; cursor: pointer; transform: translate(-50%, 0); z-index: 1;}
label input{opacity: 0;}
label .check{ position: absolute; top: 0; left: 0; cursor: pointer; width: 100%; height: 100%; background-color: #101010; border-radius: 40px; box-shadow: 0 0 0 4px #101010;}
label .check:before{ content: ""; display: block; position: absolute; top: calc(50% - 5px); left: -30px; width: 10px; height: 10px; border-radius: 50%; background: #f00; transition: 0.5s; box-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 20px #f00, 0 0 40px #f00, 0 0 80px #f00;}
label input:checked ~ .check:before{ background: #101010; box-shadow: none;}
label .check:after{ content: ""; display: block; position: absolute; top: calc(50% - 5px); right: -30px; width: 10px; height: 10px; border-radius: 50%; background: #101010; transition: 0.5s; box-shadow: none;    }
label input:checked ~ .check:after{ background: #0f0; box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0, 0 0 80px #0f0;}
label .checkBtn{ position: absolute; top: -5px; left: 0; width: 90px; height: 80px; border-radius: 50%; background: url(../images/Void_Heart.png); background-position: center; background-repeat: no-repeat; background-size: cover; transition: 0.5s;}
label input:checked ~ .checkBtn{ left: 55%; background: url(../images/Kingsoul.png); background-position: center; background-repeat: no-repeat; background-size: cover;}
/*=========setting end=========*/

/*========modal start=========*/
.modalWrap{display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index:10000;}
.modalWrap.active{display:block;}
.modalWrap iframe{ width:100%; height: 60%;}
.modal_black{ width: 100%; height: 100%; background: rgba(0,0,0,0.8); cursor: pointer; position:absolute; top: 0; left: 0;}
.modal_content{ width: 70%; height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -45%);}
.modal_Box{ width: 100%; height: 100%; display: none; position: relative;}
.modal_Box.active{display: block;}
.modal_Box a{ font-size: 2em; color: #fff; position: relative;}
.modal_textBox{ border: 2px solid #eee; background: black; text-align: center; width: 100%; margin-top: 20px; position: relative;}
.modal_textBox h3{ font-size: 1.5em; line-height: 50px; color: skyblue; position: relative;}
.modal_textBox p{ padding: 0px 10px 10px 10px; font-size: 1em; color: #fff;}
.modal_closeBtnBox{ border:2px solid #eee; text-align: center; z-index: 9999; width: 100%; height: 60px; line-height: 60px; background-color: #000; border-top:none; position: relative;}
/*========modal end=========*/

/*=========scroll btn start=========*/
.scroll-nav { width:60%; position: fixed; left: 50%; transform: translateX(-50%); top:-200px; z-index: 996; transition: 0.4s; display: flex; justify-content: space-around;}
.action.black .scroll-nav{top: 20px;}
.scroll-nav a{ display: inline-block; color: #fff;}
.scroll-nav a:hover{text-shadow: 1px 1px 20px #fff;}
.scroll-next,
.scroll-prev{ display: block; font-size: 1.8em; text-align: center; font-weight: bold; text-shadow: 5px 5px 10px #000; position: relative; transition: 0.4s;}
.scroll-prev{margin-left: 0;}
.scroll-prev:after{ animation-name: prevani; animation-duration: 0.5s; animation-timing-function: ease-in; animation-iteration-count: infinite; animation-direction:  alternate; content: ""; display: block; position: absolute; top: 0px; left: -40px; width: 30px; height: 45px; background: url(../images/leftBtn.png); background-size: cover; background-repeat: no-repeat; background-position: center;}
.scroll-next:after{ animation-name: nextani; animation-duration: 0.5s; animation-timing-function: ease-in; animation-iteration-count: infinite; animation-direction: alternate; content: ""; display: block; position: absolute; top: 0px; right: -40px; width: 30px; height: 45px; background: url(../images/rightBtn.png); background-size: cover; background-repeat: no-repeat; background-position: center;}
@keyframes prevani{ to{left: -45px;} }
@keyframes nextani{ to{right: -45px;} }
/*=========scroll btn end=========*/
/*====================fixed end==================*/

/*====================startBtn start==================*/
.startBox{ position: fixed; top: 0; width: 100%; height: 100%; display: flex; justify-content: center; z-index: 1;}
.logo_text_Box{ position: fixed; width:60%; height:100%; text-align: center; box-shadow: 0px 30px 100px #000; transition: 1s;}
.logo_text_Box:after{position:absolute; top: 60%; left:100px; content:""; display: block; width: 180px; height:150px; background: url(../images/tc.png);  background-repeat: no-repeat; background-size: cover; cursor: pointer;}
.logo_text_Box:before{position:absolute; top: 60%; right:100px; content:""; display: block; width: 180px; height:150px; background: url(../images/unity.png);  background-repeat: no-repeat; background-size: cover; cursor: pointer;}
.action.black .logo_text_Box:after,
.action.black .logo_text_Box:before{top: -200px;}
.logo_text_Box > img{ padding-top:60px; width: 90%; max-width:850px; transition: 1s;}
.action.black .startBox{z-index: 0;}
.action.black .start_btn_Box{display: none;}
.action.black .logo_text_Box{ width: 15%; height:100px; top:0px; box-shadow:none;}
.action.black .logo_text_Box >img{ padding-top:0; min-height: 100px; width: 100%;}
.start_btn_Box{ width: 100%; height: 80px;}
.start_btn_Box p{ padding: 0 20px; display: inline-block; letter-spacing: 2px; color: #fff; font-size: 3em; font-family: 'Noto Sans KR', sans-serif;}
.start_btn_Box a{ display: inline-block; position: relative; transition: 0.3s; text-shadow: 5px 5px 5px #000;}
.start_btn_Box a:after{ opacity: 0; content: ""; display: block; width: 55px; height: 50px; background: url(../images/left_hover.png); background-size: cover; background-repeat: no-repeat; position: absolute; transition: 0.4s; top:13px; left: -55px;}
.start_btn_Box a:before{ opacity: 0; content: ""; display: block; width: 55px; height: 50px; background: url(../images/right_hover.png); background-size: cover; background-repeat: no-repeat; position: absolute; transition: 0.4s; top: 13px; left:190px;}
.start_btn_Box a:hover:after,
.start_btn_Box a:hover:before{ opacity: 1;}
.start_btn_Box a:hover{ text-shadow: 1px 1px 20px #fff;}
.start_img_Box{ width: 100%; text-align: center}
.start_img_Box img{width: 200px;}
/*====================startBtn end==================*/

/*====================section story start==================*/
.storyBack{ position: relative; z-index: -9; width: 100%; height: 100vh; background: url(../images/section1_back.gif); background-repeat: no-repeat; background-size: cover; background-position: center; transition: 1s;}
.storyBoxWrap{ position: absolute; top: 55%; left: 50%; transform: translate(-50%,-50%); width: 70%; max-width: 1600px; display:flex; justify-content: space-around;}
.storyBack.aniNone{ background: url(../images/story_back.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;}
/*====================section story end==================*/

/*====================section character start==================*/
.characterBack{ background:url(../images/Wallpaper-Hollow-Knight.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; height: 100%; position: relative; z-index: -1; transition: 0.5s;}
.character_listBox{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 9; display:flex; justify-content: center; flex-direction: column; align-items: center;}
.character_listBox ul{ width:70%; min-width: 700px; display: flex; justify-content: space-around; flex-wrap: wrap; background-color: rgba(0,0,0,0.7); position: relative;}
.character_listBox ul li{ cursor: pointer; margin: 20px 8px; width: 190px; height:120px; position: relative; opacity: 0; transform: perspective(400px) rotate3d(1, 0, 0, 90deg);}
.character_listBox ul li:nth-child(1){transition:0.4s 0.4s ease-in;}
.character_listBox ul li:nth-child(2){transition:0.4s 0.5s ease-in;}
.character_listBox ul li:nth-child(3){transition:0.4s 0.6s ease-in;}
.character_listBox ul li:nth-child(4){transition:0.4s 0.7s ease-in;}
.character_listBox ul li:nth-child(5){transition:0.4s 0.8s ease-in;}
.character_listBox ul li:nth-child(6){transition:0.4s 0.9s ease-in;}
.character_listBox ul li:nth-child(7){transition:0.4s 1s ease-in;}
.character_listBox ul li:nth-child(8){transition:0.4s 1.1s ease-in;}
.character_listBox ul li:nth-child(9){transition:0.4s 1.2s ease-in;}
.character_listBox ul li:hover h3{top: 27%;}
.character_listBox ul li img{ position: absolute; transform-origin: bottom; transition: 0.4s; width: 100%; position: absolute; bottom: 0; z-index: 8;}
.character_listBox ul li.active img:last-child,
.character_listBox ul li:hover img:last-child{transform: rotateX(75deg) skewX(-25deg);   }
.character_listBox ul li img:last-child{z-index: 10}
.section.on .character_listBox ul li{opacity: 1; transform: perspective(400px);}
.characterText{ text-align: center; width:70%; min-width: 700px; height: 70px; background-color: rgba(0,0,0,0.7); padding-top: 20px;}
.characterText h3{ font-weight: bold; font-size: 2em; color: #fff; text-shadow: 3px 3px 5px rgba(255,255,255,0.6);}
.characterText p{ font-size: 1.1em; color: #eee; text-shadow: 3px 3px 5px rgba(255,255,255,0.3)}
.character_NameBox{ width: 100%; height: 100%; color: #fff; overflow: hidden; text-align: center; position: relative; z-index: 9;}
.character_NameBox h3{ width: 170px; padding: 5px; background-color: rgba(0,0,0,0.6); position: absolute; font-weight: bold; font-size: 1.3em; top: -100%; left: 50%; transform: translateX(-50%); transition: 0.8s;}
.character_contentBoxWrap{ width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: flex; justify-content: center; align-items: center;}
.character_contentBox{ margin-top: 50px; position: relative; width:90%; max-width: 1260px; height: 500px; background-color: rgba(0,0,0,0.8); border: 1px solid #eee; display: none; z-index: 10;}
.character_contentBox.active{display: block;}
.character_content{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: 0.8s; justify-content: space-around; align-items: center; opacity: 0; display: none;}
.character_content.active{ display: flex; opacity: 1;}
.chCloseBtnBox{ position: absolute; bottom: 0; width: 100%; height: 60px; line-height: 60px;  text-align: center; border-top: 1px solid #fff; box-sizing: border-box;}
.chCloseBtnBox a{ position: relative; font-size: 2em; color: #fff;}
.hollow_leftContent{ width: 50%; text-align: center; margin-bottom: 60px;}
.hollow_rightContent{ width: 45%; max-width: 470px; overflow: hidden; position: relative; z-index: 1; margin-bottom: 30px;}
.hollow_rightContent img{width: 100%;}
.character_imageBox{width: 100%;}
.character_imageBox ul{ margin-top: 20px; width: 100%; display: flex; justify-content: space-around; align-items: center;}
.character_imageBox ul li{width: 210px; border: 2px solid #fff;}
.character_imageBox ul li img{width: 100%;height: 100%;}
.hollow_leftContent h3{margin-bottom: 5px;}
/*====================section character end==================*/

/*====================section content start==================*/
.contentBack{ width: 100%; height: 100%; background:url(../images/content_back.png); background-repeat: no-repeat; background-size: cover; background-position: center; position:relative; z-index: -1; transition: 0.5s;}
.contentLight{ animation:ctLight 5s infinite cubic-bezier(0.51,-0.29, 0.59, 1.96); width: 100%; height: 100%; background:url(../images/ct_light.png); background-repeat: no-repeat; background-size: cover; position:absolute; top: 0; left: 0;}
@keyframes ctLight{
    20%{background: url(../images/ct_light2.png); background-repeat: no-repeat; background-size: cover;}
    40%{background: url(../images/ct_light3.png); background-repeat: no-repeat; background-size: cover;}
    80%{background: url(../images/ct_light4.png); background-repeat: no-repeat; background-size: cover;}
}
.content_cardWrap{ top: 0; left: 0; position: absolute; width: 100%; height: 100%; z-index: 9; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.content_toptextBox{ margin-top: 50px; text-align: center; width: 1260px; height: 70px; background-color: rgba(0,0,0,0.6); padding: 30px 30px 0px 30px;}
.content_cardBox{ width:1260px; display: flex; justify-content: space-between; align-items: center; background-color: rgba(0,0,0,0.6); padding: 20px 30px; position: relative;}
.content_cardBox img{ margin:0 10px; width: 230px; height: 100%; cursor: pointer; opacity: 0; transform: perspective(400px) rotate3d(0, 1, 0, 90deg);}
.content_cardBox img:nth-child(1){transition: 0.5s 0.3s ease-in;}
.content_cardBox img:nth-child(2){transition: 0.5s 0.6s ease-in;}
.content_cardBox img:nth-child(3){transition: 0.5s 0.8s ease-in;}
.content_cardBox img:nth-child(4){transition: 0.5s 1s ease-in;}
.section.on .content_cardBox img{opacity: 1;  transform: perspective(400px);}
/*====================section content end==================*/

/*====================section news start==================*/
.newsBack{ width: 100%; height: 100%; background:url(../images/news_silksong.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; position:relative; z-index: -1; transition: 0.5s;}
.newsBoxFlexWrap{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
.newsBoxWrap{ width:1260px; height: 600px; display: flex; justify-content: space-around; align-items: center;}
.storyBox,
.footerBox,
.newsBox{ width:500px; background-color: rgba(0,0,0,0.6); text-align: center; position: relative; opacity: 0; transform: translate(0, 50%); transition: 0.5s;}
.storyBox{width: 100%;}
.slikLogo{margin-top: 20px;width: 100%;}
.slikLogo img{width: 95%;}
.storyTextBox,
.newsTextBox{ display: inline-block; text-align: center; width: 90%; margin-top: 15px; margin-bottom: 15px;}
.storyTextBox{width: 95%;}
.silkTrailer{ overflow: hidden; display: inline-block; width: 340px; height: 190px; background-color: #fff; position: relative; cursor: pointer;}
.character_trailer img,
.silkTrailer img{ width: 100%; transition: 0.4s;}
.character_trailer:hover img,
.silkTrailer:hover img{transform: scale(1.1);}
.silkTrailerBox .silkTrailer:nth-child(2){ margin-top: 20px; margin-bottom: 20px;}
.flameAniBox{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;}
.flame{ animation:flame 1.6s infinite ease-in; position: absolute; bottom: -100%; left:200px;}
.flame2{animation:flame2 2.3s infinite ease-in; position: absolute;bottom: -100%;left: 200px;}
.flame3{ animation:flame3 1.5s infinite ease-in; position: absolute; bottom: -100%; left: 300px;}
.flame4{ animation:flame4 2.5s infinite ease-in; position: absolute; bottom: -100%; left: 1000px;}
.flame5{ animation:flame5 1.2s infinite ease-in; position: absolute; transform: rotate(-80deg); bottom: -100%; left: 800px;}
.flame6{ animation:flame6 1.5s infinite ease-in; position: absolute; bottom: -100%; left: 400px;}
.flame img{width: 110px;}
.flame2 img{width: 120px;}
.flame3 img{width: 50px;}
.flame4 img{width: 110px;}
.flame5 img{width: 50px;}
.flame6 img{width: 70px;}
@keyframes flame{ to{bottom: 5000px;  left: 5000px; transform: rotate(100deg);} }
@keyframes flame2{ to{bottom: 6000px;  left: 5000px; transform: rotate(100deg);} }
@keyframes flame3{ to{bottom: 5000px;  left: 5500px; transform: rotate(100deg);} }
@keyframes flame4{ to{bottom: 10000px;  left:-6000px; transform: rotate(-100deg);} }
@keyframes flame5{ to{bottom: 5000px;  left: -2500px;}}
@keyframes flame6{ to{bottom: 4000px;  left: 5000px; transform: rotate(100deg);} }
/*====================section news end==================*/

/*====================section footer start==================*/
.footerBack{ width: 100%; height: 100%; background:url(../images/footer_back.png); background-repeat: no-repeat; background-size: cover; background-position: center; position:relative; z-index: -1; transition: 0.5s;}
.footerTextBox{ position: absolute; bottom: 20px; right:10px; width: 600px; height: 120px; display: flex; justify-content:space-around; align-items: center;}
.footerText{width: 400px;}
.footerText p{color: #fff;}
.snsIconBox{margin-top: 10px;}
.snsIconBox a{ color: rgba(255,255,255,0.6); font-size: 1.5em; margin-right: 15px;}
.snsIconBox a:hover{color: #fff;}
.footerTC{width: 100px;}
.footerTC img{width: 100%;}
.footerBoxWrap{ position: absolute; height: 600px; top: 50%; left: 100px; width: 70%; transform: translate(0, -50%); display: flex; justify-content: space-around; align-items: center;}
.footerBox{width: 100%;}
.FriendsBox,
.PurchaseBox{margin-top: 20px;width: 100%;}
.PurchaseBox img{width: 95%;}
.FriendsLogoBox,
.PurchaseLogoBox{width: 100%;background-color: rgba(0,0,0,0.6);}
.FriendsLogoBox img,
.PurchaseLogoBox img{width:200px;transition: 0.3s;}
.FriendsLogoBox img:hover,
.PurchaseLogoBox img:hover{opacity: 0.6;}
.FriendsLogoBox a,
.PurchaseLogoBox a{padding: 5px;}
/*====================section footer end==================*/

/*=================ani & parallax & after,before & font start===============*/
/*==========animation start========*/
.character_listBox ul,
.characterText,
.content_cardBox,
.content_toptextBox{ opacity: 0; transform: translate(0, 50%); transition: 0.6s;}
.section.on .character_listBox ul,
.section.on .characterText,
.section.on .content_cardBox,
.section.on .content_toptextBox,
.section.on .footerBox,
.section.on .storyBox,
.section.on .newsBox{ transform: translate(0, 0); opacity: 1;}
/*==========animation end========*/

/*==========parallax start========*/
.section-parallax{ width: 100%; height: 100%; overflow: hidden; position: absolute;  top: 0; left: 0;}
.section-parallax img {width: 100%; height:100%;}
#footer .section-parallax #ft_scene3{ height: 100%;}
#footer .section-parallax #ft_scene3 li{ height: 100%;}
#footer .section-parallax #ft_scene3 img{ width: 120%; height: 110%; transform: translate(-5%, -5%);}
/*==========parallax end========*/

/*==========after start========*/
.character_contentBox:after,
.modal_textBox:after,
.content_cardBox:after,
.character_listBox ul:after,
.storyBox:after,
.footerBox:after,
.newsBox:after{ content: ""; display: block; position: absolute; top: -21px; left: 50%; transform: translate(-50%,0); width: 440px; height: 34px; background: url(../images/text_top_after.png); background-position: center; background-repeat: no-repeat; background-size: cover;}
.content_cardBox:after,
.character_listBox ul:after,
.storyBox:after{ left: 50%; transform: translate(-50%,0); width: 650px; height: 50px; top: -30px;}
.character_contentBox:after{ top: -25px; width: 490px; height: 40px;}
.content_cardBox:after{ top: -130px;}
.character_listBox ul:after{ top: -120px;}
.footerBox:after{ left: 50%; transform: translate(-50%,0); width: 650px;}
.content_cardBox:after{left: 51%;}
/*==========after end========*/

/*==========before start========*/
.character_contentBox:before,
.modal_closeBtnBox:before,
.content_cardBox:before,
.character_listBox ul:before,
.storyBox:before,
.footerBox:before,
.newsBox:before{ content: ""; display: block; position: absolute; bottom: -22px; left: 50%; transform: translate(-50%,0); width: 320px; height: 34px; background: url(../images/text_bottom_before.png); background-position: center; background-repeat: no-repeat; background-size: cover;}
.character_contentBox:before{bottom: -26px; width: 320px;height: 35px;}
.content_cardBox:before,
.character_listBox ul:before,
.storyBox:before{ width:380px; left: 50%; bottom: -25px; transform: translate(-52%,0);}
.footerBox:before{ width:330px; left: 50%; bottom: -23px; transform: translate(-52%,0);}
.modal_closeBtnBox:before{ top:50px; width: 290px; height: 33px;}
/*==========before end========*/

/*==========font start========*/
.hollow_leftContent p,
.FriendsBox p,
.PurchaseBox p,
.content_toptextBox p,
.slikLogo p{ font-size: 1.1em; color: #eee; text-shadow: 3px 3px 5px rgba(255,255,255,0.3)}
.storyTextBox p,
.newsTextBox p{color: #eee;font-size: 1.1em;line-height: 27px}
.hollow_leftContent h3,
.content_toptextBox h3,
.storyBox h3,
.FriendsBox h3,
.footerBox h3,
.newsTextBox h3,
.slikLogo h3{ font-weight: bold; font-size: 1.6em; color: #fff; text-shadow: 3px 3px 5px rgba(255,255,255,0.6);}
.hollow_leftContent h3,
.slikLogo h3{font-size: 2em;}
.newsTextBox h3{font-size: 1.8em;}
.content_toptextBox h3{font-size: 2em;}
.character_trailer p:nth-of-type(1),
.silkTrailer p:nth-of-type(1){ position: absolute; font-size: 3em; top: 50%; left: 50%; transform: translate(-50%, -50%); color: rgba(255,255,255,0.5);}
.character_trailer p:nth-of-type(2),
.silkTrailer p:nth-of-type(2){ position: absolute; color: #fff; bottom: 5px; right: 10px;}
.character_trailer p:nth-of-type(3),
.silkTrailer p:nth-of-type(3){ position: absolute; color: #fff; bottom: 5px;  left: 50%; transform: translate(-50%, 0);}
.character_trailer:hover p,
.silkTrailer:hover p{color: #fff;}
/*==========font end========*/
/*====================ani & parallax & after,before & font end==================*/

/*====================media query start==================*/
/*============media pc start============*/
@media screen and (max-width: 1450px){
    .content_toptextBox,
    .content_cardBox{width: 1060px;}
}
@media screen and (max-width:1260px){
    .footerTextBox{justify-content: flex-end;}
    .footerTC{ margin-right: 30px;}
    .footerText{width: 250px;}
    .action.black .scroll-nav{display: none;}
}
@media screen and (max-width: 1150px){
    .content_toptextBox,
    .content_cardBox{width: 900px;}
    .content_cardBox img{width: 200px;}
}
@media screen and (max-width: 1020px){
    .action.black .logo_text_Box{width: 20%;}
    .logo_text_Box:before{right: 0px;}
    .logo_text_Box:after{left:0px;}
    .logo_text_Box{width: 70%;}
    .action.black .logo_text_Box >img{width: 150px;min-height: 70px;}
    .hambergerIcon:after{display: none;}
    .hambergerIcon.active:before{display: none;}
}
@media screen and (max-width:960px){
    .content_text_box{display: none;}
    .mobile_text{opacity: 1;}
    .mobile_logo{opacity: 1;}
    .storyBoxWrap{width: 80%;}
    .storyBox:after{width: 480px; height: 37px; top: -23px;}
    .storyBox:before{ width: 290px; bottom: -22px;}
    .content_toptextBox,
    .content_cardBox{ width: 700px;}
    .content_cardBox img{ margin: 0 5px; width: 160px;}
    .FriendsLogoBox img{width: 170px;}
    .footerBack{background-image: url(../images/footer_back2.jpg);}
    .fixed_lineBox{display: none;}
    .footerTextBox{ justify-content: space-around; height: 50px; bottom: 10px; width: 100%;}
    .footerText{ width: 520px; display: flex; justify-content: space-between;}
    .footerText p {line-height: 50px;}
    .snsIconBox{margin-top: 0; line-height: 50px;}
    .footerTC{margin-right: 0;}
    .footerBox:after{width: 400px;height: 30px;}
    .PurchaseLogoBox img{width: 165px;}
    .footerBoxWrap{left: 50%;transform: translate(-50%, -50%);}
    .footerTC{width: 80px;}
    .action.black .logo_text_Box >img{display: none;}
    .mobileNone{display: none;}
    .newsBoxWrap{width: 720px;}
    .silkTrailer{ width: 260px; height: 146px;}
    .newsBox:nth-of-type(2){ width: 330px;}
    .newsBox{ width: 330px;}
    .newsBox:after{ width: 340px; height: 27px; top: -16px;}
    .newsBox:before{ bottom: -17px; width: 255px; height: 25px;}
    .newsTextBox p { font-size: 1em; line-height: 23px;}
    .character_imageBox ul li{width: 180px;}
    .hollow_leftContent p{font-size: 1em;}
    .section-parallax{display: none !important;}
}
/*============media pc end============*/

/*============media tablet start============*/
@media screen and (max-width: 850px){
   .hollow_rightContent{display: none;}
   .hollow_leftContent{width: 90%;}
   .character_imageBox ul li{width: 260px;}
}

@media screen and (max-width: 800px){
    .character_listBox ul li{ margin: 12px 0px; width: 26%; height: 130px;}
    .characterText,
    .character_listBox ul{ width: 95%; min-width:450px;}
    .load_text{ width: 50%;}
}
@media screen and (max-width: 650px){
    .contentLight{display: none;}
     .characterBack{background-image: url(../images/character_back3.jpg);}
    .contentBack{background-image: url(../images/content_back2.png);}
    .newsBack{background-image: url(../images/news_back2.jpg);}
    .storyBox:after{width: 360px;height: 21px;top: -13px;}
    .storyBox:before{width: 290px;bottom: -22px;}
    .content_cardBox{width: 700px;}
    .newsBox:nth-of-type(1){width: 260px;}
    .newsBox:nth-of-type(2){width: 260px;animation-delay: 0.5s;}
    .newsBox h3{font-size: 1.2em;}
    .silkTrailer{width: 220px;height: 124px;}
    .newsBoxWrap{width: 590px;}
    .newsBox:after{width: 260px;height: 20px;top: -12px;}
    .newsBox:before{ bottom: -12px; width: 189px; height: 18px;}
    .silkTrailerBox .silkTrailer:nth-child(2){margin-top: 10px;margin-bottom: 10px;}
    .character_imageBox ul li{width: 220px;}
    .flameAniBox{display: none !important;}
}
/*============media tablet end============*/

/*============media height start============*/
@media screen and (max-height:900px){
    .action.black .logo_text_Box >img{min-height: 70px;width: 80%;}
}
@media screen and (max-height: 730px){
    .start_img_Box{opacity: 0;}
}
@media screen and (max-height: 600px){
    .fixed_lineBox{opacity: 0;}
    .guide_textWrap{display: none;}
    .start_img_Box{opacity: 0;}
}
@media screen and (max-height: 500px){
    .action.black .scroll-nav{opacity: 0;}
    .content_text_box{display: none;}
    .click_text_box{display: none;}  
}
/*============media height end============*/
/*====================media query end==================*/


