/*====================base start==================*/
html{font-size:16px; scroll-behavior: smooth;}

body{
    position: relative;
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
    background-color: #000;
    z-index: -9999;
}

span{display: block;}

.section{
        position: relative;
         overflow: hidden;
        scroll-snap-align:center;
    }

#fullpageWrap{
    position: relative;
    width: 100%;
    height: 100vh;
/*    scroll-behavior: smooth;
    overflow-y: hidden;*/
/*    scroll-snap-type:y mandatory;*/
    /*scroll-snap-points-y:repeat(100vh);*/
    z-index: -9
    }
/*====================base end==================*/


/*====================index.html start==================*/
#startPage{
    width: 100%;
    height: 100vh;
}

.startPage_back{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image:url(../images/startpage_back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#startPage ul{
    width: 100%;
    height: 100%;
}

#startPage ul li{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    cursor: pointer;
}

.startPage_left{
    width:100%;
    height: 100%;
}

.startPage_right{
    width: 100%;
    height: 100%;
}

.hover_line_box{
    opacity: 0;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hover_line_box img{
    width: 100%;
    height: 100%;
}
.startPage_left:hover .hover_line_box,
.startPage_right:hover .hover_line_box{
    opacity: 1;
}
.startPage_left:hover .click_text_box,
.startPage_right:hover .click_text_box{
    opacity: 1;
}

.startPage_logo_text_box{
    position: absolute;
    top: -500px;
    left: 50%;
    transform: translate(-50%,0);
    padding-top: 50px;
    width: 80%;
    height: 500px;
}
.startPage_logo_text_box img{
    width: 100%;
}
.content_text_box{
    text-align: center;
    position: absolute;
    padding-top: 400px;
    top: -800px;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
}
.content_text_box p{
    position: relative;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0px 5px 20px #000;
}
.mobile_text p:after,
.content_text_box p:after{
    content: "";
    width:100%;
    height:60px;
    display: block;
    background: url(../images/text_top_after.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transition: 0.4s;
    top:-60px;
    left:50.8%;
    transform:translate(-50%,0);
}
.mobile_text p:before,
.content_text_box p:before{
    content: "";
    width:70%;
    height:60px;
    display: block;
    background: url(../images/text_bottom_before.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transition: 0.4s;
    bottom:-55px;
    left:50%;
    transform:translate(-50%,0);
}

.click_text_box{
    opacity:0;
    position: absolute;
    bottom: 70px;
    text-align: center;
    width: 100%;
}

.click_text_box p{
    display: inline-block;
    font-size: 4em;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    position: relative;
}
.click_text_box p:after{
    animation-name: startLeftBtn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction:  alternate;
    content: "";
    width: 70px;
    height: 65px;
    display: block;
    background: url(../images/left_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transition: 0.4s;
    top:13px;
    left: -85px;
}

.click_text_box p:before{
    animation-name: startLeftBtn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction:  alternate;
    animation-name: rightLeftBtn;
    content: "";
    width: 70px;
    height: 65px;
    display: block;
    background: url(../images/right_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transition: 0.4s;
    top:14px;
    left:190px;
}

@keyframes startLeftBtn{
    to{left: -90px;}
}
@keyframes rightLeftBtn{
    to{left: 195px;}
}

.mobile_text{
    display: none;
    width:84%;
    text-align: center;
    margin: auto;
    margin-top: 70px;
}
.mobile_text p{
    font-size: 1em;
    color: #fff;
    text-shadow: 0px 5px 20px #000;
    position: relative;
}

.mobile_logo{
    display: none;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.mobile_logo img{
    width: 100%;
}
.mobile_text p:after{
    width: 140%;
}
.mobile_text p:before{
    width: 100%;
}

@media screen and (max-width: 560px){
    .mobile_text{
        display: block;
    }
    .mobile_logo{
        display: block;
    }
    #startPage ul li{
        width: 100%;
    }
    .startPage_back{
        display: none;
    }
    .content_text_box{
        display: none;
    }
    .click_text_box{
        bottom: 30px;
    }
    .click_text_box p{
        font-size: 2em;
    }
    .startPage_logo_text_box{
        display: none;
    }
    .click_text_box,
    .hover_line_box{
        opacity: 1;
    }

    .click_text_box p:before{
        width: 30px;
        height: 25px;
        left: 95px;
        top: 10px;
    }
    @keyframes rightLeftBtn{
        to{left:100px;}
    }
    .click_text_box p:after{
        width: 30px;
        height: 25px;
        left: -35px;
        top: 10px;
    }
    @keyframes startLeftBtn{
        to{left: -40px;}
    }

    .content_text_box p{
        font-size: 1em;
    }

    .mb_silk{
    background-image:url(../images/mobile_silksong.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
     .mb_hollow{
    background-image:url(../images/mobile_hollow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    body{
    height: 200vh;
    overflow: visible;
    }
}
@media screen and (min-width: 1800px){
    .content_text_box{
        padding-top: 500px;
    }
}
@media screen and (max-height: 650px){
    .content_text_box{
        display: none;
    }
}
@media screen and (max-height: 450px){
    .content_text_box{
        display: none;
    }
    .click_text_box{
        display: none;
    }
}

/*====================index.html end==================*/


/*====================hollow.html start==================*/
/*====================fixed start==================*/
.fixedWrap{
    width: 100px;
    overflow: hidden;
}

.hambergerIcon
{
    width: 80px; 
    height: 75px; 
    position:fixed; 
    top: 20px; 
    right: 20px; 
    background-color: #000; 
    cursor:pointer; 
    z-index: 9999;
    transition:0.5s;
    visibility: hidden;
}
.action.black .hambergerIcon{
    visibility: visible;
}

.hamberger
{
    width: 60px; 
    height:8px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    background-color: #fff; 
    box-shadow:0px 2px 5px rgba(0,0,0,.3); 
    transition:0.4s;
}

.hamberger:after,
.hamberger:before
{
    width: 60px; 
    height:8px; 
    content:'';
    position: absolute; 
    background-color: #fff; 
    box-shadow:0px 2px 5px rgba(0,0,0,.3); 
    transition: 0.4s;
}
.hamberger:after{top:-20px;}
.hamberger:before{top:20px;}
.hambergerIcon.active .hamberger{background-color: rgba(0,0,0,0);box-shadow:0px 0px 0px rgba(0,0,0,0);}
.hambergerIcon.active .hamberger:after{transform: rotate(45deg); top:0px;}
.hambergerIcon.active .hamberger:before{transform: rotate(135deg); top:0px;}

.Menu_fixed_lineBox,
.fixed_lineBox{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:-1;
    transition: all 0.8s;
    text-align: center;
}

.Menu_fixed_lineBox{
 z-index: 999;
 visibility: hidden;
}

.Menu_fixed_lineBox img,
.fixed_lineBox img{
    width: 100%;
    height:100%;
    min-height:550px;
}

.action.black .Menu_fixed_lineBox,
.action.black .fixed_lineBox{
    height: 92%;
    bottom:0px;
}

.main_video_Box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.main_video_Box video{
    width: 100%; 
    height: 100vh;
}

.scroll-nav {
      width:50%;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      top:-300px;
      z-index: 999;
      transition: 0.4s;
      display: flex;
      justify-content: space-between;
}
.action.black .scroll-nav{
      top: 10px;
}

.scroll-nav a{
    color: #fff;
}
.scroll-next,
.scroll-prev{
      margin-left: 120px;
      display: block;
      font-size: 1.8em;
      text-align: center;
      font-weight: bold;
      float: left;
      text-shadow: 5px 5px 10px #000;
      position: relative;
}
.scroll-prev{
      margin-left: 0;
}

.scroll-prev:after{
    animation-name: prevani;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction:  alternate;
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -40px;
    width: 30px;
    height: 40px;
    background: url(../images/leftBtn.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.scroll-next:after{
    animation-name: nextani;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: -40px;
    width: 30px;
    height: 40px;
    background: url(../images/rightBtn.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes prevani{
    to{left: -45px;}
}
@keyframes nextani{
    to{right: -45px;}
}

/*====================fixed end==================*/

/*====================startBtn start==================*/
.startBox{   
    width: 100%;
    height: 100vh;
}

.logo_text_Box{
    width:60%;
    height:100%;
    margin: auto;
    text-align: center;
    box-shadow: 0px 30px 100px #000;
    transition: 1s;
    z-index: 990;
  }

.logo_text_Box > img{
    padding-top: 80px;
    width: 100%;
    max-width:850px;
    transition: 1s;
}

.start_btn_Box{
    width: 100%;
    height: 300px;
}

.start_btn_Box p{
    padding: 0 20px;
    display: inline-block;
    color: #fff;
    font-size: 2.5em;
    font-family: 'Noto Sans KR', sans-serif;
}

.start_btn_Box a{
    display: inline-block;
    position: relative;
    transition: 0.3s;
     text-shadow: 5px 5px 5px #000;
}
.start_btn_Box a:after{
    opacity: 0;
    content: "";
    display: block;
    width: 55px; height: 50px;
    background: url(../images/left_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transition: 0.4s;
    top: 6px;
    left: -50px;
}
.start_btn_Box a:before{
    opacity: 0;
    content: "";
    display: block;
    width: 55px; height: 50px;
    background: url(../images/right_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transition: 0.4s;
    top: 5px;
    left:265px;
}

.start_btn_Box a:hover:after,
.start_btn_Box a:hover:before{
    opacity: 1;
}

.start_btn_Box a:hover{
    text-shadow: 1px 1px 20px #fff;
}
.start_img_Box{
    width: 100%;
    text-align: center
}

.start_img_Box img{
    width: 200px;
}
/*====================startBtn end==================*/


/*====================section start start==================*/

.homeback{
    position: relative;
    z-index: -9;
    width: 100%;    
    height: 100vh;  
    background: url(../images/section1_back.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     }

.menuNavWrap{
    position: relative;
    position:fixed;
    width: 100%;
    height: 100%;
}
.menuNavBlack{
    position:absolute;
    top: 0;left: 0;
     width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    transition:all 0.6s;
}

.menuNavWrap.active .Menu_fixed_lineBox{
    visibility: visible;
}

.menuNavWrap.active {
    z-index: 999;
}

.menuNavWrap.active .menuNavBlack{
    opacity: 1;
    z-index: 99;
}

.menuNavBox{
    position: absolute;
    top: -1000px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    height: 370px;
    border-radius: 100px;
    background:linear-gradient(-90deg, rgba(255,255,255,0.15),rgba(255,255,255,0.08),rgba(255,255,255,0.03),rgba(255,255,255,0.03),rgba(255,255,255,0.08),rgba(255,255,255,0.15));
    box-shadow: 0px 30px 50px #000;
    overflow: hidden;
    z-index: 9999;
    transition: 0.4s;
}

.menuNavWrap.active .menuNavBox{
   top: 60%;
   transform: translate(-50%, -50%);
}

.menuNavBox ul{
    width: 300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    animation-delay: 0.5s;
}
.menuNavBox ul li{
    height: 70px;
    font-size: 2.5em;
    line-height: 70px;
}
.menuNavBox ul:hover a{
    opacity: 0.5;
}

.menuNavBox ul li a{
    position: relative;
    color: #fff;
    transition: all 0.4s;
}
.menuNavBox ul li a:hover,
.menuNavBox ul li a.active{
   opacity: 1;
    text-shadow: 0 0 20px #fff;
}

.menuNavBox ul li a.active:after,
.menuNavBox ul li a:hover:after{
    content: "";
    display: block;
    width: 55px; height: 50px;
    background: url(../images/left_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: -70px;
}

.menuNavBox ul li a.active:before,
.menuNavBox ul li a:hover:before{
    content: "";
    display: block;
    width: 55px; height: 50px;
    background: url(../images/right_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
        top: 5px;
}

.menuNavBox ul li:nth-child(1) a:before{
    left: 135px;
}
.menuNavBox ul li:nth-child(2) a:before{
    left: 135px;
}
.menuNavBox ul li:nth-child(3) a:before{
    left: 240px;
}
.menuNavBox ul li:nth-child(4) a:before{
    left: 200px;
}
.menuNavBox ul li:nth-child(5) a:before{
    left: 130px;
}

/*====================section start end==================*/


/*====================section story start==================*/
#story{z-index: -9 }
#story_second{z-index: -9 }
#character{z-index: -9}
#content{z-index: -9}
.storyBack{
width: 100%;
height: 100%;
position: relative;
}
.storyBack img{
    position: absolute;
    bottom: 0;

}